body {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", Calibri, Arial, sans-serif;
}

div#header, header {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.title {
  text-align: center;
}

.author, .date {
  text-align: center;
}

div#TOC, nav#TOC {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

@media print {
  div#TOC, nav#TOC {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

div div, section section {
  margin-left: 2em;
}

p {}

blockquote {
  font-style: italic;
}

li {}

li > p {
  margin-top: 1em;
}

ul {}

ul li {}

ol {}

ol li {}

hr {}

sub {}

sup {}

em {
  font-weight: bold;
}

em > em {
  font-style: normal;
}

strong {}

a {
  text-decoration: none;
}

@media screen {
  a:hover {
    text-decoration: underline;
  }
}

@media print {
  a {
    color: black;
    background: transparent;
  }

  a[href^="http://"]:after, a[href^="https://"]:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
}

img {
  vertical-align: middle;
}

div.figure {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}

p.caption {}

pre, code {
  background-color: #fdf7ee;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre {
  padding: 0.5em; /* Since we have a background color */
  border-radius: 5px; /* Softens it */
  border: 1px solid #aaa;
  margin-left:  0.5em;
  margin-right: 0.5em;
}

@media screen {
  pre {
    white-space: pre;
    overflow: auto;
    border: 1px dotted #777;
  }
}

code {}

p > code, li > code {
  padding-left:  2px;
  padding-right: 2px;
}

li > p code {
  padding: 2px;
}

span.math {}

div.math {}

span.LaTeX {}

eq {}

table {
  border-collapse: collapse;
  border-spacing: 0; /* IE 6 */
  border: 2pt solid #000;
}

thead {
  border-bottom: 1pt solid #000;
  background-color: #eee; /* Does this BG print well? */
}

tr.header {}

tbody {}

tr {}

tr.odd:hover, tr.even:hover {
  background-color: #eee;
}

tr.odd {}
tr.even {}

td, th {
  vertical-align: top; /* Word */
  vertical-align: baseline; /* Others */
  padding-left:   0.5em;
  padding-right:  0.5em;
  padding-top:    0.2em;
  padding-bottom: 0.2em;
  border: 1pt solid #000;
}

/* Removes padding on left and right of table for a tight look. Good if thead has no background color*/
/*
tr td:last-child, tr th:last-child {
  padding-right: 0;
}
tr td:first-child, tr th:first-child {
  padding-left: 0;
}
*/

th {
  font-weight: bold;
}

tfoot {}

caption {
  caption-side: top;
  border: none;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.3em; /* Good for when on top */
  padding-bottom: 0.2em;
}

dl {
  border-top: 2pt solid black;
  padding-top: 0.5em;
  border-bottom: 2pt solid black;
}

dt {
  font-weight: bold;
}

dd+dt {
  border-top: 1pt solid black;
  padding-top: 0.5em;
}

dd {
  margin-bottom: 0.5em;
}

dd+dd {
  border-top: 1px solid black; /* To separate multiple definitions */
}

a.footnote, a.footnoteRef {
  font-size: small;
  vertical-align: text-top;
}

a[href^="#fnref"], a.reversefootnote {}

@media print {
  a[href^="#fnref"], a.reversefootnote {
    display: none;
  }
}

div.footnotes {}

div.footnotes li[id^="fn"] {}

@media print {
  .noprint {
    display:none;
  }
}
